body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table#pointstable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid red;
}
table#pointstable tr {
  border-bottom: 1px solid red;
}
table#pointstable th,  table#pointstable td{
  border-right: 1px solid red;
  text-align: center;
}
